* {
    box-sizing: border-box;
  }
  
  body {
    background-image:linear-gradient(45deg, pink, purple);
    height: 100vh;
  }
  
  nav {
    color: white;
  }
  
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-evenly;

  
    }
  
  li {
    list-style: none;
  } 
  
  a:link {
    color: white;
    text-decoration: none; 
  }
  
  
  section {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  .boxOne {
    border: 2px solid white;
    padding: 50px;
    margin-top: 35px;
    margin-bottom: 60px;
    color: white;
    transform: translate (-50%, -50%)
  }
  
  .text1 {
    position: relative;
    animation: text 3s 1;
  }
    
  @keyframes text {
    0% { 
    margin-bottom: -40px;
    }
    30% {
      letter-spacing: 3px;
      margin-bottom: -70px;
    }
  }

  
.content {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.slider {
  height: 50px;
  /* padding-left: 15px; */
  overflow: hidden;
}

.slider div {
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
}

.slider-text1 {
  background: lightgreen;
  animation: slide 5s linear infinite;
}

.slider-text2 {
  background: lightblue;
}

.slider-text3 {
  background: lightpink;
}

h2 {
  font-size: 16px;
}


@keyframes slide {
  0% {margin-top: -300px;}
  5% {margin-top: -200px;}
  33% {margin-top: -200px;}
  38% {margin-top: -100px;}
  66% {margin-top: -100px;}
  71% {margin-top: 0px;}
  100% {margin-top: 0px;}
}